<mat-toolbar class="reg-toolbar">
    <div class="reg-toolbar__heading">
        <span class="reg-toolbar__icon"><mat-icon>person_add</mat-icon></span>
        <span class="reg-toolbar__title">{{ 'LABEL.REGISTRATION' | translate }}</span>
    </div>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button class="reg-close" mat-dialog-close aria-label="Close modal button">
        <mat-icon>close</mat-icon>
    </button>
</mat-toolbar>

<mat-dialog-content class="reg-content">
    <form [formGroup]="form" class="reg-form" [class.reg-form--desktop]="isDesktop()">

        <!-- Row 1: First name + Last name -->
        <div class="reg-row">
            <mat-form-field appearance="outline" class="reg-field">
                <mat-label>{{ 'LABEL.FIRST_NAME' | translate }}</mat-label>
                <mat-icon matPrefix>person_outline</mat-icon>
                <input matInput formControlName="firstName" autocomplete="given-name" />
                @if (form.get('firstName')?.touched && form.get('firstName')?.errors?.['required']) {
                    <mat-error>{{ 'ERROR.REQUIRED_FIELD' | translate }}</mat-error>
                }
            </mat-form-field>

            <mat-form-field appearance="outline" class="reg-field">
                <mat-label>{{ 'LABEL.LAST_NAME' | translate }}</mat-label>
                <mat-icon matPrefix>person_outline</mat-icon>
                <input matInput formControlName="lastName" autocomplete="family-name" />
                @if (form.get('lastName')?.touched && form.get('lastName')?.errors?.['required']) {
                    <mat-error>{{ 'ERROR.REQUIRED_FIELD' | translate }}</mat-error>
                }
            </mat-form-field>
        </div>

        <!-- Row 2: Contact details -->
        <div class="reg-row">
            <mat-form-field appearance="outline" class="reg-field">
                <mat-label>{{ 'LABEL.EMAIL' | translate }}</mat-label>
            <mat-icon matPrefix>mail_outline</mat-icon>
            <input matInput type="email" formControlName="email" autocomplete="email" />
                @if (form.get('email')?.touched && form.get('email')?.errors?.['email']) {
                    <mat-error>{{ 'ERROR.INVALID_EMAIL' | translate }}</mat-error>
                }
                @if (form.get('email')?.touched && form.get('email')?.errors?.['maxlength']) {
                    <mat-error>{{ 'ERROR.MAX_LENGTH' | translate }}</mat-error>
                }
                @if (form.get('email')?.touched && form.get('email')?.errors?.['elementExists']) {
                    <mat-error>{{ 'ERROR.EMAIL_TAKEN' | translate }}</mat-error>
                }
            </mat-form-field>

            <mat-form-field appearance="outline" class="reg-field">
                <mat-label>{{ 'LABEL.PHONE_NUMBER' | translate }}</mat-label>
                <mat-icon matPrefix>phone</mat-icon>
                <input matInput type="tel" formControlName="phone" autocomplete="tel" />
                @if (form.get('phone')?.touched && form.get('phone')?.errors?.['pattern']) {
                    <mat-error>{{ 'ERROR.INVALID_PHONE' | translate }}</mat-error>
                }
                @if (form.get('phone')?.touched && form.get('phone')?.errors?.['maxlength']) {
                    <mat-error>{{ 'ERROR.MAX_LENGTH' | translate }}</mat-error>
                }
            </mat-form-field>
        </div>

        <!-- Row 3: Username -->
        <div class="reg-row reg-row--full">
            <mat-form-field appearance="outline" class="reg-field">
                <mat-label>{{ 'LABEL.USERNAME' | translate }}</mat-label>
                <mat-icon matPrefix>alternate_email</mat-icon>
                <input matInput formControlName="userName" autocomplete="username" />
                @if (form.get('userName')?.touched && form.get('userName')?.errors?.['required']) {
                    <mat-error>{{ 'ERROR.REQUIRED_FIELD' | translate }}</mat-error>
                }
                @if (form.get('userName')?.touched && form.get('userName')?.errors?.['maxlength']) {
                    <mat-error>{{ 'ERROR.MAX_LENGTH' | translate }}</mat-error>
                }
                @if (form.get('userName')?.touched && form.get('userName')?.errors?.['elementExists']) {
                    <mat-error>{{ 'ERROR.USERNAME_TAKEN' | translate }}</mat-error>
                }
            </mat-form-field>
        </div>

        <!-- Row 4: Password + Confirm password -->
        <div class="reg-row">
            <mat-form-field appearance="outline" class="reg-field">
                <mat-label>{{ 'LABEL.PASSWORD' | translate }}</mat-label>
                <mat-icon matPrefix>lock_outline</mat-icon>
                <input matInput type="password" formControlName="password" autocomplete="new-password" />
                @if (form.get('password')?.touched && form.get('password')?.errors?.['required']) {
                    <mat-error>{{ 'ERROR.REQUIRED_FIELD' | translate }}</mat-error>
                }
                @if (form.get('password')?.touched && form.get('password')?.errors?.['passwordStrength']) {
                    <mat-error>{{ 'ERROR.PASSWORD_STRENGTH' | translate }}</mat-error>
                }
            </mat-form-field>

            <mat-form-field appearance="outline" class="reg-field">
                <mat-label>{{ 'LABEL.CONFIRM_PASSWORD' | translate }}</mat-label>
                <mat-icon matPrefix>verified_user</mat-icon>
                <input matInput type="password" formControlName="confirmPassword" autocomplete="new-password" />
                @if (form.get('confirmPassword')?.touched && form.get('confirmPassword')?.errors?.['required']) {
                    <mat-error>{{ 'ERROR.REQUIRED_FIELD' | translate }}</mat-error>
                }
                @if (form.get('confirmPassword')?.touched && form.get('confirmPassword')?.errors?.['passwordMismatch']) {
                    <mat-error>{{ 'ERROR.PASSWORDS_DO_NOT_MATCH' | translate }}</mat-error>
                }
            </mat-form-field>
        </div>

    </form>
</mat-dialog-content>

<mat-dialog-actions class="reg-actions">
    <button mat-stroked-button class="reg-btn reg-btn--secondary" mat-dialog-close>
        {{ 'BUTTON.CANCEL' | translate }}
    </button>
    <button mat-flat-button class="reg-btn reg-btn--primary" [disabled]="form.invalid" (click)="onFormSubmit()">
        <mat-icon>person_add</mat-icon>
        {{ 'BUTTON.REGISTER' | translate }}
    </button>
</mat-dialog-actions>
